/* Main */

div, li, span, em, strong, form, body { margin: 0; padding: 0; }
img		{ border: 0; vertical-align: middle; }
body 	{ background-color:  #f0f0f0; padding: 0px 1px; font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; }

td		{ empty-cells: show; }
th		{ padding: 0; vertical-align: top; white-space: nowrap;  }
table 	{ font-size: 10pt;}

a, a:link, a:visited, a:hover { color: #112ABB; text-decoration: none;  alt: value}
a:hover { text-decoration: underline; }

input.checkbox 	{ margin: 1px; margin-right: 5px; padding: 0px; width: 14px; height: 14px; vertical-align: middle; }
input.radio 	{ vertical-align: middle; margin: 1px; margin-right: 5px; }

/* Topbar */

body {
	background: transparent url(/images/body-bg.gif) repeat-x;
}

#topbar-wrap {
	position:relative;
	top:0;
	left:0;
	padding:5px 5px 10px;
}

#topbar-wrap #topbar {
	position:relative;
	top:0;
	left:0;
	height:50px;
 	padding:5px;
	border: 1px solid #99BBE8;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;

	background: #BCC4FF url(/images/dise_03.jpg) no-repeat right;
	font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
	font-size:10pt;
	overflow:hidden;
}
#topbar #logo {
	margin-top:5px;
	margin-left:5px;
	width:50px;
	height:44px;
}
#topbar #logo a {
	display: block;
	width:50px;
	height:44px;
	overflow:hidden;
	text-indent:-9999px;
	background:transparent url(/images/logo-topbar.png) no-repeat
}

#topbar #searchbox {
	position:absolute;
	left:61px;
	top:15px;
}
#topbar #searchbox input[type="text"] {
	font-size:15px !important;
	width:125px;
}
#topbar #search_button {
	display: inline-block;
	margin-left: 3px;
}

#search_string
{
	margin-top:1px;
}

.ext-safari #search_string
{
	margin-top:3px;
}

#search_button
{
	vertical-align:middle;
}

#topbar #logout_button {
	display: none;
	vertical-align: middle;
	position:absolute;
	top:14px;
	right:10px;
}




#topbar #navmenu {
	display: none;
	position:absolute;
	left:480px;
	top:34px;
}
.ext-safari #topbar #navmenu {
	top:17px;
}

/** Customize ExtJS toolbar  */
#topbar #navmenu .x-toolbar {
	padding:0;
	border:0;
	background:none;
	font-size:10pt;
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
}
#navmenu .x-toolbar td 
#navmenu .x-toolbar span,
#navmenu .x-toolbar input,
#navmenu .x-toolbar div,
#navmenu .x-toolbar select,
#navmenu .x-toolbar label,
#navmenu .x-toolbar .x-btn button,
.x-btn-text {
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif !important;
	font-size:10pt !important;
	
}
#topbar .x-btn-small .x-btn-text {
	height: auto;
	padding-top:0px;
	line-height:18px;
}

.ext-gecko #topbar .x-btn-text
{
	padding:2px;
}

#navmenu .x-btn-with-menu .x-btn-center em {
	background-position: right 10px;
}

#topbar #toplinks {
	position:absolute;
	right:70px;
	top:15px;
	font-size:10pt;
}
#topbar #toplinks a {
	padding-right:10px;
	color:black;
	text-decoration: underline;
}
#topbar #toplinks a:hover {
	text-decoration: none;
}
#topbar #toplinks a.new {
	padding-right:0;
}
#topbar #toplinks sup.new {
	padding-right:10pt;
	color:red;
	font-weight: bold;
	font-face:Arial, Helvetica, sans-serif;
}

#topfoot {
	height: 30px;
}

#top-title {
	float: left;
	height: 14px;
    display: none;
	padding: 6px 9px 6px 9px;
	border-width: 1px;
	border-style: none solid solid solid;
	border-color: #99BBE8;
	background-image: url('/images/ui-ng/topbar_title_canvas_1px.png');

	font-family: "Arial";
	font-size: 14px;
	color: #0D2C5F;

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

#top-title-info {
	padding-left: 4px;
	padding-bottom: 2px;
	cursor: help;
	display: none;
}

#top-messages {
	margin-top:300px;
	left: 25%;
	position: absolute;
	height: 14px;
	z-index: 15000;
	width: 50%;
}

#top-messages-icons {
	left: 75%;
	position: absolute;
	height: 20px;
	z-index: 20000;
	width: 48px;
	padding: 5px;
}

#top-messages-icons img {
	padding: 2px;
	display: none;
}

#top-environment {
	float: right;
	width: 180px;
	position: relative;
	font-family: "Arial";
	font-size: 14px;
	color: #0D2C5F;
}

#top-environment-item {
	height: 14px;

	padding: 6px;
	border-width: 1px;
	border-style: none solid solid solid;
	border-color: #99BBE8;
	background-image: url('/images/ui-ng/topbar_title_canvas_1px.png');
	cursor: pointer;

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

/* CP */
#body-container
{
	padding-left:5px;
	padding-right:5px;
}

#header-title
{
	margin-left:10px;
	margin-top:5px;
	padding-bottom:7px;
}
